## Project 1: NYC Resteraunt Violations Cleaning Up
### Jacob Minkin

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
sns.set_style('darkgrid')

%matplotlib inline

## Set-Up

In [257]:
#Import Data
df = pd.read_csv('../data/Inspection.csv')

#Change Name of Column for easier searching
df.rename(columns = {'VIOLATION CODE':'CODE'}, inplace = True)

# Convert date into pandas date/time format
df['date'] = pd.to_datetime(df['INSPECTION DATE'])

df['Critical'] = np.where(df['CRITICAL FLAG'] == 'Critical', 1, 0)

In [282]:
Name_list = df.CAMIS.unique()
latest_inspection_dicts = {}

for name in Name_list:
   latest_inspection_dicts[name] = df[df.CAMIS == name].date.max()

In [259]:
df['isLatest'] = pd.to_datetime(df['INSPECTION DATE']) == df.Latest_Inspection

AttributeError: 'DataFrame' object has no attribute 'Latest_Inspection'

In [260]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE,INSPECTION DATE,ACTION,...,BBL,NTA,Location Point,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts,date,Critical
0,50107551,Zazzys,Manhattan,73,GREENWICH AVENUE,10014.0,6465945909,NaN,1/1/1900,NaN,...,1.006140e+09,MN23,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
1,50131697,NaN,Brooklyn,804,GRAND STREET,11211.0,3478078023,NaN,1/1/1900,NaN,...,3.027900e+09,BK90,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
2,50123820,787 COFFEE,Manhattan,310,WEST 14 STREET,10014.0,9082308846,NaN,1/1/1900,NaN,...,1.006290e+09,MN23,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
3,50119514,PEBBLE BAR,Manhattan,1240,AVE OF TH AMER,NaN,7189098636,NaN,1/1/1900,NaN,...,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
4,50127198,Verdes Italian Eatery,Staten Island,4085,VICTORY BOULEVARD,10314.0,6313030934,NaN,1/1/1900,NaN,...,5.027710e+09,SI05,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209574,50052840,US FRIED CHICKEN & PIZZA,Brooklyn,129,DWIGHT STREET,11231.0,7186434662,Chicken,6/22/2022,Violations were cited in the following area(s).,...,3.005780e+09,BK33,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-22,1
209575,50072454,DUNKIN,Manhattan,381,CANAL STREET,10013.0,2126191222,Donuts,8/22/2022,Violations were cited in the following area(s).,...,1.002270e+09,MN24,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,1
209576,50093635,DOMINOS,Brooklyn,1544,BROADWAY,11221.0,5166038816,Pizza,8/8/2022,Violations were cited in the following area(s).,...,3.014920e+09,BK79,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-08,0
209577,40365882,NEW YORK PIZZA SUPREMA,Manhattan,413,8 AVENUE,10001.0,2125948939,Pizza,2/8/2022,Violations were cited in the following area(s).,...,1.007540e+09,MN13,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-08,1
209578,50111311,CANTINA CAQUERIA & TEQUILIA BAR,Manhattan,2099,FREDERICK DOUGLASS BOULEVARD,NaN,7577549410,Mexican,6/15/2022,Violations were cited in the following area(s).,...,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-15,0

In [261]:
df.Latest_Inspection = df.CAMIS.map(latest_inspection_dicts)
df['LatestandCrit'] = (df.Critical==1)  & (df.isLatest ==True )
df['NotLatestandCrit'] = (df.Critical==1)  & (df.isLatest ==False )

C:\Users\logic_switch\AppData\Local\Temp\ipykernel_14384\3883454151.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Latest_Inspection = df.CAMIS.map(latest_inspection_dicts)

AttributeError: 'DataFrame' object has no attribute 'isLatest'

In [262]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE,INSPECTION DATE,ACTION,...,BBL,NTA,Location Point,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts,date,Critical
0,50107551,Zazzys,Manhattan,73,GREENWICH AVENUE,10014.0,6465945909,NaN,1/1/1900,NaN,...,1.006140e+09,MN23,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
1,50131697,NaN,Brooklyn,804,GRAND STREET,11211.0,3478078023,NaN,1/1/1900,NaN,...,3.027900e+09,BK90,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
2,50123820,787 COFFEE,Manhattan,310,WEST 14 STREET,10014.0,9082308846,NaN,1/1/1900,NaN,...,1.006290e+09,MN23,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
3,50119514,PEBBLE BAR,Manhattan,1240,AVE OF TH AMER,NaN,7189098636,NaN,1/1/1900,NaN,...,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
4,50127198,Verdes Italian Eatery,Staten Island,4085,VICTORY BOULEVARD,10314.0,6313030934,NaN,1/1/1900,NaN,...,5.027710e+09,SI05,NaN,NaN,NaN,NaN,NaN,NaN,1900-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209574,50052840,US FRIED CHICKEN & PIZZA,Brooklyn,129,DWIGHT STREET,11231.0,7186434662,Chicken,6/22/2022,Violations were cited in the following area(s).,...,3.005780e+09,BK33,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-22,1
209575,50072454,DUNKIN,Manhattan,381,CANAL STREET,10013.0,2126191222,Donuts,8/22/2022,Violations were cited in the following area(s).,...,1.002270e+09,MN24,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,1
209576,50093635,DOMINOS,Brooklyn,1544,BROADWAY,11221.0,5166038816,Pizza,8/8/2022,Violations were cited in the following area(s).,...,3.014920e+09,BK79,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-08,0
209577,40365882,NEW YORK PIZZA SUPREMA,Manhattan,413,8 AVENUE,10001.0,2125948939,Pizza,2/8/2022,Violations were cited in the following area(s).,...,1.007540e+09,MN13,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-08,1
209578,50111311,CANTINA CAQUERIA & TEQUILIA BAR,Manhattan,2099,FREDERICK DOUGLASS BOULEVARD,NaN,7577549410,Mexican,6/15/2022,Violations were cited in the following area(s).,...,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-15,0

In [263]:
df.Critical

0         0
1         0
2         0
3         0
4         0
         ..
209574    1
209575    1
209576    0
209577    1
209578    0
Name: Critical, Length: 209579, dtype: int32

In [264]:
df.iloc[14].date == latest_inspection_dicts[df.iloc[14].CAMIS]
df.iloc[14].Latest_Inspection

AttributeError: 'Series' object has no attribute 'Latest_Inspection'

In [265]:
latest_dicts = {}
for indx in range(1,len(df.CAMIS)):
   if df.iloc[indx].date == latest_inspection_dicts[df.iloc[indx].CAMIS]:
      df.iloc[indx].Latest_Inspection = 1

make a new col called latest inspection which includes the latest inspection for the resteraunt

In [266]:
df.iloc[2].date

Timestamp('1900-01-01 00:00:00')

In [267]:
df['Latest_Inspection'] = 0
df.Latest_Inspection

0        1900-01-01
1        1900-01-01
2        1900-01-01
3        1900-01-01
4        1900-01-01
            ...
209574   2022-11-28
209575   2023-01-13
209576   2022-08-08
209577   2023-01-26
209578   2022-06-15
Name: CAMIS, Length: 209579, dtype: datetime64[ns]

In [268]:
#df.iloc[5].date
df[df.CAMIS == df.iloc[3].CAMIS].date.max()

Timestamp('1900-01-01 00:00:00')

In [269]:

for indx in range(len(df.CAMIS)):
   if df.iloc[indx].date == df[df.CAMIS == df.iloc[indx].CAMIS].date.max():
      df.iloc[indx].Latest_Inspection = 1

C:\Users\logic_switch\AppData\Local\Temp\ipykernel_14384\3048666006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[indx].Latest_Inspection = 1

KeyboardInterrupt:

In [ ]:
df.Latest_Inspection.sum()

0

In [ ]:
latest_inspection_dicts[41425803]

Timestamp('2023-01-19 00:00:00')

In [ ]:
latest_inspection_dicts

{50107551: Timestamp('1900-01-01 00:00:00'),
 50131697: Timestamp('1900-01-01 00:00:00'),
 50123820: Timestamp('1900-01-01 00:00:00'),
 50119514: Timestamp('1900-01-01 00:00:00'),
 50127198: Timestamp('1900-01-01 00:00:00'),
 50131632: Timestamp('1900-01-01 00:00:00'),
 50121462: Timestamp('1900-01-01 00:00:00'),
 50112539: Timestamp('1900-01-01 00:00:00'),
 50109522: Timestamp('1900-01-01 00:00:00'),
 50129927: Timestamp('1900-01-01 00:00:00'),
 41564948: Timestamp('2018-11-09 00:00:00'),
 50113426: Timestamp('1900-01-01 00:00:00'),
 50128218: Timestamp('1900-01-01 00:00:00'),
 50104825: Timestamp('1900-01-01 00:00:00'),
 50112870: Timestamp('1900-01-01 00:00:00'),
 50120379: Timestamp('1900-01-01 00:00:00'),
 50124520: Timestamp('1900-01-01 00:00:00'),
 50124855: Timestamp('1900-01-01 00:00:00'),
 50132225: Timestamp('1900-01-01 00:00:00'),
 50116143: Timestamp('1900-01-01 00:00:00'),
 50129141: Timestamp('1900-01-01 00:00:00'),
 50121299: Timestamp('1900-01-01 00:00:00'),
 50118414: Timestamp('1900-01-01 00:00:00'),
 50008108: Timestamp('2022-04-06 00:00:00'),
 50108007: Timestamp('1900-01-01 00:00:00'),
 41089821: Timestamp('2019-06-13 00:00:00'),
 50105922: Timestamp('1900-01-01 00:00:00'),
 50129206: Timestamp('1900-01-01 00:00:00'),
 50125244: Timestamp('1900-01-01 00:00:00'),
 50115585: Timestamp('1900-01-01 00:00:00'),
 50129407: Timestamp('1900-01-01 00:00:00'),
 50118566: Timestamp('1900-01-01 00:00:00'),
 50130580: Timestamp('1900-01-01 00:00:00'),
 50106095: Timestamp('1900-01-01 00:00:00'),
 50128131: Timestamp('1900-01-01 00:00:00'),
 50126683: Timestamp('1900-01-01 00:00:00'),
 50132112: Timestamp('1900-01-01 00:00:00'),
 50122701: Timestamp('1900-01-01 00:00:00'),
 50124519: Timestamp('1900-01-01 00:00:00'),
 50118608: Timestamp('1900-01-01 00:00:00'),
 50131334: Timestamp('1900-01-01 00:00:00'),
 50127688: Timestamp('1900-01-01 00:00:00'),
 50121100: Timestamp('1900-01-01 00:00:00'),
 50123083: Timestamp('1900-01-01 00:00:00'),
 50105337: Timestamp('1900-01-01 00:00:00'),
 50124763: Timestamp('1900-01-01 00:00:00'),
 50119329: Timestamp('1900-01-01 00:00:00'),
 50125888: Timestamp('1900-01-01 00:00:00'),
 50131922: Timestamp('1900-01-01 00:00:00'),
 50123419: Timestamp('1900-01-01 00:00:00'),
 50106042: Timestamp('1900-01-01 00:00:00'),
 50119637: Timestamp('1900-01-01 00:00:00'),
 41600677: Timestamp('2022-09-15 00:00:00'),
 50103832: Timestamp('1900-01-01 00:00:00'),
 50105750: Timestamp('1900-01-01 00:00:00'),
 50126340: Timestamp('1900-01-01 00:00:00'),
 50114248: Timestamp('1900-01-01 00:00:00'),
 50114109: Timestamp('1900-01-01 00:00:00'),
 50123496: Timestamp('1900-01-01 00:00:00'),
 50130759: Timestamp('1900-01-01 00:00:00'),
 50131253: Timestamp('1900-01-01 00:00:00'),
 50118725: Timestamp('1900-01-01 00:00:00'),
 50123072: Timestamp('1900-01-01 00:00:00'),
 50115383: Timestamp('1900-01-01 00:00:00'),
 50117552: Timestamp('1900-01-01 00:00:00'),
 50122585: Timestamp('1900-01-01 00:00:00'),
 50128152: Timestamp('1900-01-01 00:00:00'),
 50131618: Timestamp('1900-01-01 00:00:00'),
 50117510: Timestamp('1900-01-01 00:00:00'),
 50116004: Timestamp('1900-01-01 00:00:00'),
 50128083: Timestamp('1900-01-01 00:00:00'),
 50129966: Timestamp('1900-01-01 00:00:00'),
 50124794: Timestamp('1900-01-01 00:00:00'),
 50107716: Timestamp('1900-01-01 00:00:00'),
 50065112: Timestamp('2022-04-07 00:00:00'),
 50111868: Timestamp('1900-01-01 00:00:00'),
 50132356: Timestamp('1900-01-01 00:00:00'),
 50113985: Timestamp('1900-01-01 00:00:00'),
 50124042: Timestamp('1900-01-01 00:00:00'),
 50131153: Timestamp('1900-01-01 00:00:00'),
 50119858: Timestamp('1900-01-01 00:00:00'),
 50132390: Timestamp('1900-01-01 00:00:00'),
 50111647: Timestamp('1900-01-01 00:00:00'),
 50131202: Timestamp('1900-01-01 00:00:00'),
 50109988: Timestamp('1900-01-01 00:00:00'),
 50120148: Timestamp('1900-01-01 00:00:00'),
 50125655: Timestamp('1900-01-01 00:00:00'),
 50130229: Timestamp('1900-01-01 00:00:00'),
 50108320: Timestamp('1900-01-01 00:00:00'),
 50095016: Timestamp('1900-01-01 00:00:00'),
 50107277: Timestamp('1900-01-01 00:00:00'),
 50120197: Timestamp('1900-01-01 00:00:00'),
 50119601: Timestamp('1900-01-01 00:00:00'),
 50004307: Timestamp('2022-03-22 00:00:00'),
 50126842: Timestamp('1900-01-01 00:00:00'),
 41635743: Timestamp('2022-11-25 00:00:00'),
 50127476: Timestamp('1900-01-01 00:00:00'),
 50131830: Timestamp('1900-01-01 00:00:00'),
 50124377: Timestamp('1900-01-01 00:00:00'),
 40958104: Timestamp('2022-04-21 00:00:00'),
 50114558: Timestamp('1900-01-01 00:00:00'),
 50111579: Timestamp('1900-01-01 00:00:00'),
 50119319: Timestamp('1900-01-01 00:00:00'),
 50123213: Timestamp('1900-01-01 00:00:00'),
 50130714: Timestamp('1900-01-01 00:00:00'),
 50121179: Timestamp('1900-01-01 00:00:00'),
 50120067: Timestamp('1900-01-01 00:00:00'),
 50105967: Timestamp('2023-02-08 00:00:00'),
 50129020: Timestamp('1900-01-01 00:00:00'),
 50121552: Timestamp('1900-01-01 00:00:00'),
 41441583: Timestamp('2022-11-14 00:00:00'),
 50106296: Timestamp('1900-01-01 00:00:00'),
 50124508: Timestamp('1900-01-01 00:00:00'),
 50131298: Timestamp('1900-01-01 00:00:00'),
 50066450: Timestamp('2022-09-21 00:00:00'),
 50074145: Timestamp('2022-04-06 00:00:00'),
 50121726: Timestamp('1900-01-01 00:00:00'),
 50124043: Timestamp('1900-01-01 00:00:00'),
 50118005: Timestamp('1900-01-01 00:00:00'),
 50104704: Timestamp('1900-01-01 00:00:00'),
 50120850: Timestamp('1900-01-01 00:00:00'),
 50129774: Timestamp('1900-01-01 00:00:00'),
 50124915: Timestamp('1900-01-01 00:00:00'),
 50111446: Timestamp('2021-08-09 00:00:00'),
 50120573: Timestamp('1900-01-01 00:00:00'),
 50114062: Timestamp('1900-01-01 00:00:00'),
 50131954: Timestamp('1900-01-01 00:00:00'),
 50117592: Timestamp('1900-01-01 00:00:00'),
 50119198: Timestamp('1900-01-01 00:00:00'),
 50112799: Timestamp('1900-01-01 00:00:00'),
 50126865: Timestamp('1900-01-01 00:00:00'),
 50124169: Timestamp('1900-01-01 00:00:00'),
 40395087: Timestamp('2020-02-27 00:00:00'),
 50119878: Timestamp('1900-01-01 00:00:00'),
 50130080: Timestamp('1900-01-01 00:00:00'),
 50094451: Timestamp('1900-01-01 00:00:00'),
 50121947: Timestamp('1900-01-01 00:00:00'),
 50121828: Timestamp('1900-01-01 00:00:00'),
 50123492: Timestamp('1900-01-01 00:00:00'),
 50113817: Timestamp('1900-01-01 00:00:00'),
 50126032: Timestamp('1900-01-01 00:00:00'),
 50119357: Timestamp('1900-01-01 00:00:00'),
 50129814: Timestamp('1900-01-01 00:00:00'),
 50113447: Timestamp('1900-01-01 00:00:00'),
 50128872: Timestamp('1900-01-01 00:00:00'),
 50111140: Timestamp('1900-01-01 00:00:00'),
 50128569: Timestamp('1900-01-01 00:00:00'),
 50108362: Timestamp('1900-01-01 00:00:00'),
 50128020: Timestamp('1900-01-01 00:00:00'),
 50112313: Timestamp('1900-01-01 00:00:00'),
 50119433: Timestamp('1900-01-01 00:00:00'),
 50123748: Timestamp('1900-01-01 00:00:00'),
 50107085: Timestamp('2022-06-23 00:00:00'),
 50120780: Timestamp('1900-01-01 00:00:00'),
 50129498: Timestamp('1900-01-01 00:00:00'),
 41154379: Timestamp('2022-03-31 00:00:00'),
 50125508: Timestamp('1900-01-01 00:00:00'),
 50105878: Timestamp('1900-01-01 00:00:00'),
 50129481: Timestamp('1900-01-01 00:00:00'),
 50128369: Timestamp('1900-01-01 00:00:00'),
 50128284: Timestamp('1900-01-01 00:00:00'),
 50118627: Timestamp('1900-01-01 00:00:00'),
 50109092: Timestamp('2022-03-02 00:00:00'),
 50129694: Timestamp('1900-01-01 00:00:00'),
 50132347: Timestamp('1900-01-01 00:00:00'),
 50129761: Timestamp('1900-01-01 00:00:00'),
 50034739: Timestamp('2019-08-21 00:00:00'),
 41523226: Timestamp('2022-12-28 00:00:00'),
 41697049: Timestamp('2022-11-10 00:00:00'),
 50106464: Timestamp('1900-01-01 00:00:00'),
 50067634: Timestamp('2022-11-29 00:00:00'),
 50131062: Timestamp('1900-01-01 00:00:00'),
 50124712: Timestamp('1900-01-01 00:00:00'),
 50112120: Timestamp('1900-01-01 00:00:00'),
 41624715: Timestamp('2021-02-23 00:00:00'),
 50128822: Timestamp('1900-01-01 00:00:00'),
 50122272: Timestamp('1900-01-01 00:00:00'),
 50044748: Timestamp('2022-05-25 00:00:00'),
 50067182: Timestamp('2022-10-26 00:00:00'),
 50132471: Timestamp('1900-01-01 00:00:00'),
 50119328: Timestamp('1900-01-01 00:00:00'),
 50106454: Timestamp('1900-01-01 00:00:00'),
 50126110: Timestamp('1900-01-01 00:00:00'),
 50122754: Timestamp('1900-01-01 00:00:00'),
 50119370: Timestamp('1900-01-01 00:00:00'),
 50122352: Timestamp('1900-01-01 00:00:00'),
 50125005: Timestamp('1900-01-01 00:00:00'),
 50129516: Timestamp('1900-01-01 00:00:00'),
 50126677: Timestamp('1900-01-01 00:00:00'),
 50108990: Timestamp('2022-12-19 00:00:00'),
 50129580: Timestamp('1900-01-01 00:00:00'),
 50122281: Timestamp('1900-01-01 00:00:00'),
 50012215: Timestamp('2022-05-23 00:00:00'),
 50110045: Timestamp('1900-01-01 00:00:00'),
 50131277: Timestamp('1900-01-01 00:00:00'),
 50106309: Timestamp('1900-01-01 00:00:00'),
 50114031: Timestamp('1900-01-01 00:00:00'),
 50128426: Timestamp('1900-01-01 00:00:00'),
 50104766: Timestamp('1900-01-01 00:00:00'),
 50116975: Timestamp('1900-01-01 00:00:00'),
 50123208: Timestamp('1900-01-01 00:00:00'),
 50128259: Timestamp('1900-01-01 00:00:00'),
 50066104: Timestamp('2023-02-02 00:00:00'),
 50122211: Timestamp('1900-01-01 00:00:00'),
 50125414: Timestamp('1900-01-01 00:00:00'),
 50128363: Timestamp('1900-01-01 00:00:00'),
 50125216: Timestamp('1900-01-01 00:00:00'),
 50130037: Timestamp('1900-01-01 00:00:00'),
 50128420: Timestamp('1900-01-01 00:00:00'),
 50095960: Timestamp('1900-01-01 00:00:00'),
 50130384: Timestamp('1900-01-01 00:00:00'),
 50114900: Timestamp('1900-01-01 00:00:00'),
 50117138: Timestamp('1900-01-01 00:00:00'),
 50117955: Timestamp('1900-01-01 00:00:00'),
 50118398: Timestamp('1900-01-01 00:00:00'),
 50132369: Timestamp('1900-01-01 00:00:00'),
 50101598: Timestamp('2023-01-09 00:00:00'),
 50046060: Timestamp('2022-12-27 00:00:00'),
 50132353: Timestamp('1900-01-01 00:00:00'),
 50130968: Timestamp('1900-01-01 00:00:00'),
 50130833: Timestamp('1900-01-01 00:00:00'),
 41395411: Timestamp('2019-06-05 00:00:00'),
 50117894: Timestamp('2022-05-25 00:00:00'),
 50082664: Timestamp('2022-09-16 00:00:00'),
 50127668: Timestamp('1900-01-01 00:00:00'),
 50129094: Timestamp('1900-01-01 00:00:00'),
 50125506: Timestamp('1900-01-01 00:00:00'),
 50119475: Timestamp('1900-01-01 00:00:00'),
 50006470: Timestamp('2019-05-16 00:00:00'),
 50114615: Timestamp('1900-01-01 00:00:00'),
 50124688: Timestamp('1900-01-01 00:00:00'),
 50131638: Timestamp('1900-01-01 00:00:00'),
 50102527: Timestamp('1900-01-01 00:00:00'),
 50104856: Timestamp('1900-01-01 00:00:00'),
 50117707: Timestamp('1900-01-01 00:00:00'),
 50126360: Timestamp('1900-01-01 00:00:00'),
 50132196: Timestamp('1900-01-01 00:00:00'),
 50118624: Timestamp('1900-01-01 00:00:00'),
 50125035: Timestamp('1900-01-01 00:00:00'),
 50123999: Timestamp('1900-01-01 00:00:00'),
 50070068: Timestamp('2023-02-02 00:00:00'),
 50127309: Timestamp('1900-01-01 00:00:00'),
 50124016: Timestamp('1900-01-01 00:00:00'),
 50124397: Timestamp('1900-01-01 00:00:00'),
 50105541: Timestamp('1900-01-01 00:00:00'),
 50121855: Timestamp('1900-01-01 00:00:00'),
 41720851: Timestamp('2022-02-24 00:00:00'),
 50125994: Timestamp('1900-01-01 00:00:00'),
 50100415: Timestamp('2022-08-29 00:00:00'),
 50132006: Timestamp('1900-01-01 00:00:00'),
 41391794: Timestamp('2022-03-17 00:00:00'),
 50119605: Timestamp('1900-01-01 00:00:00'),
 50106273: Timestamp('1900-01-01 00:00:00'),
 50129852: Timestamp('1900-01-01 00:00:00'),
 50128528: Timestamp('1900-01-01 00:00:00'),
 50123923: Timestamp('1900-01-01 00:00:00'),
 50108357: Timestamp('1900-01-01 00:00:00'),
 50123856: Timestamp('1900-01-01 00:00:00'),
 50131199: Timestamp('1900-01-01 00:00:00'),
 50087356: Timestamp('2022-10-28 00:00:00'),
 50117958: Timestamp('1900-01-01 00:00:00'),
 50114879: Timestamp('1900-01-01 00:00:00'),
 50130532: Timestamp('1900-01-01 00:00:00'),
 50108821: Timestamp('1900-01-01 00:00:00'),
 50121429: Timestamp('1900-01-01 00:00:00'),
 50132362: Timestamp('1900-01-01 00:00:00'),
 50110267: Timestamp('1900-01-01 00:00:00'),
 50117437: Timestamp('1900-01-01 00:00:00'),
 40871961: Timestamp('2022-02-22 00:00:00'),
 50128606: Timestamp('1900-01-01 00:00:00'),
 50111500: Timestamp('1900-01-01 00:00:00'),
 50127238: Timestamp('1900-01-01 00:00:00'),
 50044537: Timestamp('2019-06-21 00:00:00'),
 50117642: Timestamp('1900-01-01 00:00:00'),
 50070745: Timestamp('2023-01-23 00:00:00'),
 50067979: Timestamp('2022-07-19 00:00:00'),
 50114638: Timestamp('2022-10-08 00:00:00'),
 50067257: Timestamp('2023-01-26 00:00:00'),
 50036244: Timestamp('2022-04-07 00:00:00'),
 50037560: Timestamp('2022-06-21 00:00:00'),
 50116081: Timestamp('1900-01-01 00:00:00'),
 50008496: Timestamp('2022-07-30 00:00:00'),
 50132461: Timestamp('1900-01-01 00:00:00'),
 50100549: Timestamp('2022-10-28 00:00:00'),
 50129864: Timestamp('1900-01-01 00:00:00'),
 50116168: Timestamp('1900-01-01 00:00:00'),
 50110146: Timestamp('1900-01-01 00:00:00'),
 50062556: Timestamp('2022-04-14 00:00:00'),
 50107039: Timestamp('1900-01-01 00:00:00'),
 41573408: Timestamp('2023-01-11 00:00:00'),
 50105341: Timestamp('1900-01-01 00:00:00'),
 50123270: Timestamp('1900-01-01 00:00:00'),
 50131869: Timestamp('1900-01-01 00:00:00'),
 50105839: Timestamp('1900-01-01 00:00:00'),
 50125524: Timestamp('1900-01-01 00:00:00'),
 50113302: Timestamp('1900-01-01 00:00:00'),
 50074493: Timestamp('2019-05-18 00:00:00'),
 50116751: Timestamp('1900-01-01 00:00:00'),
 50116522: Timestamp('1900-01-01 00:00:00'),
 50129114: Timestamp('1900-01-01 00:00:00'),
 50111835: Timestamp('1900-01-01 00:00:00'),
 50119066: Timestamp('1900-01-01 00:00:00'),
 50117848: Timestamp('1900-01-01 00:00:00'),
 41620030: Timestamp('2022-06-13 00:00:00'),
 41622870: Timestamp('2022-08-11 00:00:00'),
 50046390: Timestamp('2022-09-09 00:00:00'),
 50129812: Timestamp('1900-01-01 00:00:00'),
 50125812: Timestamp('1900-01-01 00:00:00'),
 41395408: Timestamp('2019-06-05 00:00:00'),
 50107156: Timestamp('1900-01-01 00:00:00'),
 50120569: Timestamp('1900-01-01 00:00:00'),
 50113609: Timestamp('1900-01-01 00:00:00'),
 50070862: Timestamp('2020-02-15 00:00:00'),
 50106052: Timestamp('2023-02-09 00:00:00'),
 50033770: Timestamp('2022-02-02 00:00:00'),
 41358592: Timestamp('2020-01-30 00:00:00'),
 50123806: Timestamp('1900-01-01 00:00:00'),
 50131164: Timestamp('1900-01-01 00:00:00'),
 50120113: Timestamp('1900-01-01 00:00:00'),
 50113361: Timestamp('1900-01-01 00:00:00'),
 41106321: Timestamp('2022-06-02 00:00:00'),
 50058321: Timestamp('2022-01-24 00:00:00'),
 50069717: Timestamp('2022-04-06 00:00:00'),
 50104594: Timestamp('1900-01-01 00:00:00'),
 50124164: Timestamp('1900-01-01 00:00:00'),
 50129689: Timestamp('1900-01-01 00:00:00'),
 41656294: Timestamp('2022-02-04 00:00:00'),
 50108036: Timestamp('1900-01-01 00:00:00'),
 50118853: Timestamp('1900-01-01 00:00:00'),
 41351011: Timestamp('2022-09-29 00:00:00'),
 50132511: Timestamp('1900-01-01 00:00:00'),
 41189848: Timestamp('2022-02-28 00:00:00'),
 50123303: Timestamp('1900-01-01 00:00:00'),
 40932307: Timestamp('2022-03-23 00:00:00'),
 50080755: Timestamp('2023-02-09 00:00:00'),
 50124862: Timestamp('1900-01-01 00:00:00'),
 50116398: Timestamp('1900-01-01 00:00:00'),
 50113120: Timestamp('1900-01-01 00:00:00'),
 50122204: Timestamp('1900-01-01 00:00:00'),
 50001488: Timestamp('2022-12-21 00:00:00'),
 50111731: Timestamp('1900-01-01 00:00:00'),
 50124143: Timestamp('1900-01-01 00:00:00'),
 50131184: Timestamp('1900-01-01 00:00:00'),
 40762828: Timestamp('2022-12-07 00:00:00'),
 50121729: Timestamp('1900-01-01 00:00:00'),
 50104887: Timestamp('1900-01-01 00:00:00'),
 50098716: Timestamp('2022-07-27 00:00:00'),
 50120697: Timestamp('1900-01-01 00:00:00'),
 50119457: Timestamp('1900-01-01 00:00:00'),
 50118524: Timestamp('1900-01-01 00:00:00'),
 50089233: Timestamp('1900-01-01 00:00:00'),
 50065696: Timestamp('2022-12-05 00:00:00'),
 50131384: Timestamp('1900-01-01 00:00:00'),
 50102696: Timestamp('1900-01-01 00:00:00'),
 50119395: Timestamp('1900-01-01 00:00:00'),
 50131611: Timestamp('1900-01-01 00:00:00'),
 50118381: Timestamp('1900-01-01 00:00:00'),
 50128986: Timestamp('1900-01-01 00:00:00'),
 50119389: Timestamp('1900-01-01 00:00:00'),
 50118823: Timestamp('1900-01-01 00:00:00'),
 50120625: Timestamp('1900-01-01 00:00:00'),
 50118747: Timestamp('1900-01-01 00:00:00'),
 50119716: Timestamp('1900-01-01 00:00:00'),
 50126261: Timestamp('1900-01-01 00:00:00'),
 50120807: Timestamp('1900-01-01 00:00:00'),
 50112246: Timestamp('1900-01-01 00:00:00'),
 50115185: Timestamp('1900-01-01 00:00:00'),
 50125007: Timestamp('1900-01-01 00:00:00'),
 50114701: Timestamp('1900-01-01 00:00:00'),
 50115911: Timestamp('1900-01-01 00:00:00'),
 40750264: Timestamp('2022-12-08 00:00:00'),
 50105852: Timestamp('1900-01-01 00:00:00'),
 50033380: Timestamp('2022-04-11 00:00:00'),
 50110346: Timestamp('1900-01-01 00:00:00'),
 50130088: Timestamp('1900-01-01 00:00:00'),
 50131079: Timestamp('1900-01-01 00:00:00'),
 50072149: Timestamp('2022-06-06 00:00:00'),
 50127512: Timestamp('1900-01-01 00:00:00'),
 50110679: Timestamp('1900-01-01 00:00:00'),
 50114577: Timestamp('1900-01-01 00:00:00'),
 50121472: Timestamp('1900-01-01 00:00:00'),
 50123651: Timestamp('1900-01-01 00:00:00'),
 50131514: Timestamp('1900-01-01 00:00:00'),
 50120792: Timestamp('1900-01-01 00:00:00'),
 50131279: Timestamp('1900-01-01 00:00:00'),
 41390998: Timestamp('2022-04-06 00:00:00'),
 50116707: Timestamp('1900-01-01 00:00:00'),
 50121597: Timestamp('1900-01-01 00:00:00'),
 50129046: Timestamp('1900-01-01 00:00:00'),
 40376515: Timestamp('2022-01-12 00:00:00'),
 50129823: Timestamp('1900-01-01 00:00:00'),
 50128802: Timestamp('1900-01-01 00:00:00'),
 50114537: Timestamp('1900-01-01 00:00:00'),
 50122546: Timestamp('1900-01-01 00:00:00'),
 50116879: Timestamp('1900-01-01 00:00:00'),
 50114007: Timestamp('1900-01-01 00:00:00'),
 50130748: Timestamp('1900-01-01 00:00:00'),
 50121818: Timestamp('1900-01-01 00:00:00'),
 41333314: Timestamp('2022-04-28 00:00:00'),
 50100321: Timestamp('2022-07-05 00:00:00'),
 50123136: Timestamp('1900-01-01 00:00:00'),
 50110902: Timestamp('1900-01-01 00:00:00'),
 50131226: Timestamp('1900-01-01 00:00:00'),
 50105390: Timestamp('1900-01-01 00:00:00'),
 50130713: Timestamp('1900-01-01 00:00:00'),
 50122704: Timestamp('1900-01-01 00:00:00'),
 50038346: Timestamp('2022-03-02 00:00:00'),
 50090918: Timestamp('2020-02-20 00:00:00'),
 50111909: Timestamp('1900-01-01 00:00:00'),
 50129436: Timestamp('1900-01-01 00:00:00'),
 50131612: Timestamp('1900-01-01 00:00:00'),
 50097865: Timestamp('2020-01-25 00:00:00'),
 50073372: Timestamp('2022-10-20 00:00:00'),
 50129033: Timestamp('1900-01-01 00:00:00'),
 50113510: Timestamp('2023-02-01 00:00:00'),
 50128148: Timestamp('1900-01-01 00:00:00'),
 41708744: Timestamp('2022-11-03 00:00:00'),
 50128625: Timestamp('1900-01-01 00:00:00'),
 50054846: Timestamp('2022-01-24 00:00:00'),
 50011205: Timestamp('2022-07-29 00:00:00'),
 50119459: Timestamp('1900-01-01 00:00:00'),
 50122209: Timestamp('1900-01-01 00:00:00'),
 50131498: Timestamp('1900-01-01 00:00:00'),
 50120198: Timestamp('1900-01-01 00:00:00'),
 50129193: Timestamp('1900-01-01 00:00:00'),
 50087322: Timestamp('2022-08-30 00:00:00'),
 50091173: Timestamp('2022-11-01 00:00:00'),
 41068607: Timestamp('2023-01-27 00:00:00'),
 40396532: Timestamp('2022-10-05 00:00:00'),
 50012113: Timestamp('2023-01-18 00:00:00'),
 50099939: Timestamp('2022-08-25 00:00:00'),
 40401000: Timestamp('2022-01-27 00:00:00'),
 41513756: Timestamp('2022-01-27 00:00:00'),
 50089195: Timestamp('2022-08-01 00:00:00'),
 50125088: Timestamp('1900-01-01 00:00:00'),
 50128932: Timestamp('1900-01-01 00:00:00'),
 50129871: Timestamp('1900-01-01 00:00:00'),
 50129338: Timestamp('1900-01-01 00:00:00'),
 50120967: Timestamp('1900-01-01 00:00:00'),
 50127736: Timestamp('1900-01-01 00:00:00'),
 50104409: Timestamp('1900-01-01 00:00:00'),
 50110794: Timestamp('1900-01-01 00:00:00'),
 50131791: Timestamp('1900-01-01 00:00:00'),
 50112210: Timestamp('1900-01-01 00:00:00'),

In [14]:
df['latestcrit'] = np.where(df['Critical'] == 1 and df.date == latest_inspection_dicts[df.CAMIS].max() , 1, 0)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [81]:
df.CAMIS

0         50107551
1         50131697
2         50123820
3         50119514
4         50127198
            ...
209574    50052840
209575    50072454
209576    50093635
209577    40365882
209578    50111311
Name: CAMIS, Length: 209579, dtype: int64

In [ ]:
df.Latest_Inspection = df.CAMIS.map(latest_inspection_dicts)

In [ ]:
ISLATEST = pd.to_datetime(df['INSPECTION DATE']) == df.Latest_Inspection
df.isLatest = ISLATEST

In [ ]:
df['LatestandCrit'] = (df['isLatest'] ==True) & (df['Critical']==1 )

In [ ]:
df['Critical'].sum()

113768

In [ ]:
df[df.CAMIS == 40365882].Critical

3965      0
10210     0
41436     1
77401     0
97060     1
107194    1
116266    1
146949    0
209577    1
Name: Critical, dtype: int32

In [ ]:
abc = df.groupby('CAMIS')

KeyError: 'Column not found: False'

In [ ]:
df.isLatest

0          True
1          True
2          True
3          True
4          True
          ...
209574    False
209575    False
209576     True
209577    False
209578     True
Name: isLatest, Length: 209579, dtype: bool

In [83]:
len(df.CAMIS.unique())

28239

In [81]:
df.isLatest.sum()

74511

In [91]:
df[df.isLatest].groupby('CAMIS').max()

C:\Users\logic_switch\AppData\Local\Temp\ipykernel_14384\1787516273.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df[df.isLatest].groupby('CAMIS').max()

,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE,INSPECTION DATE,ACTION,CRITICAL FLAG,...,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts,date,Critical,isLatest,LatestandCrit,NotLatestandCrit
CAMIS,,,,,,,,,,,,,,,,,,,,,
30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery Products/Desserts,2/3/2023,Establishment re-opened by DOHMH.,Not Critical,...,NaN,NaN,NaN,NaN,NaN,2023-02-03,1,True,True,False
30112340,WENDY'S,Brooklyn,469,FLATBUSH AVENUE,11225.0,7182875005,Hamburgers,7/13/2022,Violations were cited in the following area(s).,Not Critical,...,NaN,NaN,NaN,NaN,NaN,2022-07-13,1,True,True,False
30191841,DJ REYNOLDS PUB AND RESTAURANT,Manhattan,351,WEST 57 STREET,10019.0,2122452912,Irish,1/4/2022,Violations were cited in the following area(s).,Not Critical,...,NaN,NaN,NaN,NaN,NaN,2022-01-04,1,True,True,False
40356018,RIVIERA CATERERS,Brooklyn,2780,STILLWELL AVENUE,11224.0,7183723031,American,2/1/2022,Violations were cited in the following area(s).,Critical,...,NaN,NaN,NaN,NaN,NaN,2022-02-01,1,True,True,False
40356483,WILKEN'S FINE FOOD,Brooklyn,7114,AVENUE U,11234.0,7184443838,Sandwiches,8/19/2022,Violations were cited in the following area(s).,Not Critical,...,NaN,NaN,NaN,NaN,NaN,2022-08-19,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50132511,Girolamo's Pizza,Brooklyn,176,AVENUE O,11204.0,9178825572,NaN,1/1/1900,NaN,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132516,HONEY CREPES,Manhattan,400,EAST 13 STREET,10009.0,6465719248,NaN,1/1/1900,NaN,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132518,SUBWAY,Queens,10206,ATLANTIC AVE,11416.0,3478860495,NaN,1/1/1900,NaN,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132519,FARMER'S FRIDGE,Manhattan,11,PENN PLZ,10001.0,23562698,NaN,1/1/1900,NaN,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132520,FARMER'S FRIDGE,Bronx,1695,EASTCHESTER ROAD,10461.0,23562698,NaN,1/1/1900,NaN,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False

In [104]:
df[df.CAMIS == 40365882].NotLatestandCrit.max()

True

,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE,INSPECTION DATE,ACTION,CODE,...,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts,date,Critical,isLatest,LatestandCrit,NotLatestandCrit
CAMIS,,,,,,,,,,,,,,,,,,,,,
30075445,MORRIS PARK BAKE SHOP,Bronx,1007,MORRIS PARK AVENUE,10462.0,7188924968,Bakery Products/Desserts,1/31/2023,Establishment Closed by DOHMH. Violations were...,06C,...,NaN,NaN,NaN,NaN,NaN,2023-01-31,1,False,False,True
30112340,WENDY'S,Brooklyn,469,FLATBUSH AVENUE,11225.0,7182875005,Hamburgers,8/5/2021,Violations were cited in the following area(s).,04N,...,NaN,NaN,NaN,NaN,NaN,2021-08-05,1,False,False,True
30191841,DJ REYNOLDS PUB AND RESTAURANT,Manhattan,351,WEST 57 STREET,10019.0,2122452912,Irish,6/6/2019,Violations were cited in the following area(s).,10F,...,NaN,NaN,NaN,NaN,NaN,2019-06-06,0,False,False,False
40356018,RIVIERA CATERERS,Brooklyn,2780,STILLWELL AVENUE,11224.0,7183723031,American,11/8/2019,Violations were cited in the following area(s).,09B,...,NaN,NaN,NaN,NaN,NaN,2019-11-08,0,False,False,False
40356483,WILKEN'S FINE FOOD,Brooklyn,7114,AVENUE U,11234.0,7184443838,Sandwiches,7/30/2021,Violations were cited in the following area(s).,02I,...,NaN,NaN,NaN,NaN,NaN,2021-07-30,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50132511,Girolamo's Pizza,Brooklyn,176,AVENUE O,11204.0,9178825572,None,1/1/1900,None,None,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132516,HONEY CREPES,Manhattan,400,EAST 13 STREET,10009.0,6465719248,None,1/1/1900,None,None,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132518,SUBWAY,Queens,10206,ATLANTIC AVE,11416.0,3478860495,None,1/1/1900,None,None,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132519,FARMER'S FRIDGE,Manhattan,11,PENN PLZ,10001.0,23562698,None,1/1/1900,None,None,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
50132520,FARMER'S FRIDGE,Bronx,1695,EASTCHESTER ROAD,10461.0,23562698,None,1/1/1900,None,None,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False

In [112]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE,INSPECTION DATE,ACTION,...,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts,date,Critical,isLatest,LatestandCrit,NotLatestandCrit
0,50107551,Zazzys,Manhattan,73,GREENWICH AVENUE,10014.0,6465945909,NaN,1/1/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
1,50131697,NaN,Brooklyn,804,GRAND STREET,11211.0,3478078023,NaN,1/1/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
2,50123820,787 COFFEE,Manhattan,310,WEST 14 STREET,10014.0,9082308846,NaN,1/1/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
3,50119514,PEBBLE BAR,Manhattan,1240,AVE OF TH AMER,NaN,7189098636,NaN,1/1/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
4,50127198,Verdes Italian Eatery,Staten Island,4085,VICTORY BOULEVARD,10314.0,6313030934,NaN,1/1/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209574,50052840,US FRIED CHICKEN & PIZZA,Brooklyn,129,DWIGHT STREET,11231.0,7186434662,Chicken,6/22/2022,Violations were cited in the following area(s).,...,NaN,NaN,NaN,NaN,NaN,2022-06-22,1,False,False,True
209575,50072454,DUNKIN,Manhattan,381,CANAL STREET,10013.0,2126191222,Donuts,8/22/2022,Violations were cited in the following area(s).,...,NaN,NaN,NaN,NaN,NaN,2022-08-22,1,False,False,True
209576,50093635,DOMINOS,Brooklyn,1544,BROADWAY,11221.0,5166038816,Pizza,8/8/2022,Violations were cited in the following area(s).,...,NaN,NaN,NaN,NaN,NaN,2022-08-08,0,True,False,False
209577,40365882,NEW YORK PIZZA SUPREMA,Manhattan,413,8 AVENUE,10001.0,2125948939,Pizza,2/8/2022,Violations were cited in the following area(s).,...,NaN,NaN,NaN,NaN,NaN,2022-02-08,1,False,False,True
209578,50111311,CANTINA CAQUERIA & TEQUILIA BAR,Manhattan,2099,FREDERICK DOUGLASS BOULEVARD,NaN,7577549410,Mexican,6/15/2022,Violations were cited in the following area(s).,...,NaN,NaN,NaN,NaN,NaN,2022-06-15,0,True,False,False

In [89]:
abc.LatestandCrit.sum()

20404

In [90]:
abc.NotLatestandCrit.sum()

0

In [283]:
Critication = {}
BigCritication = {}
for name in Name_list:
    Critication[name] = df.NotLatestandCrit[df.CAMIS == name].max()
    BigCritication[name] = df.LatestandCrit[df.CAMIS == name].max()

AttributeError: 'DataFrame' object has no attribute 'NotLatestandCrit'

In [117]:
df.NotLatestandCrit

0         False
1         False
2         False
3         False
4         False
          ...
209574     True
209575     True
209576    False
209577     True
209578    False
Name: NotLatestandCrit, Length: 209579, dtype: bool

{50107551: False,
 50131697: False,
 50123820: False,
 50119514: False,
 50127198: False,
 50131632: False,
 50121462: False,
 50112539: False,
 50109522: False,
 50129927: False,
 41564948: False,
 50113426: False,
 50128218: False,
 50104825: False,
 50112870: False,
 50120379: False,
 50124520: False,
 50124855: False,
 50132225: False,
 50116143: False,
 50129141: False,
 50121299: False,
 50118414: False,
 50008108: True,
 50108007: False,
 41089821: True,
 50105922: False,
 50129206: False,
 50125244: False,
 50115585: False,
 50129407: False,
 50118566: False,
 50130580: False,
 50106095: False,
 50128131: False,
 50126683: False,
 50132112: False,
 50122701: False,
 50124519: False,
 50118608: False,
 50131334: False,
 50127688: False,
 50121100: False,
 50123083: False,
 50105337: False,
 50124763: False,
 50119329: False,
 50125888: False,
 50131922: False,
 50123419: False,
 50106042: False,
 50119637: False,
 41600677: True,
 50103832: False,
 50105750: False,
 50126340: False,
 50114248: False,
 50114109: False,
 50123496: False,
 50130759: False,
 50131253: False,
 50118725: False,
 50123072: False,
 50115383: False,
 50117552: False,
 50122585: False,
 50128152: False,
 50131618: False,
 50117510: False,
 50116004: False,
 50128083: False,
 50129966: False,
 50124794: False,
 50107716: False,
 50065112: True,
 50111868: False,
 50132356: False,
 50113985: False,
 50124042: False,
 50131153: False,
 50119858: False,
 50132390: False,
 50111647: False,
 50131202: False,
 50109988: False,
 50120148: False,
 50125655: False,
 50130229: False,
 50108320: False,
 50095016: False,
 50107277: False,
 50120197: False,
 50119601: False,
 50004307: True,
 50126842: False,
 41635743: True,
 50127476: False,
 50131830: False,
 50124377: False,
 40958104: True,
 50114558: False,
 50111579: False,
 50119319: False,
 50123213: False,
 50130714: False,
 50121179: False,
 50120067: False,
 50105967: True,
 50129020: False,
 50121552: False,
 41441583: True,
 50106296: False,
 50124508: False,
 50131298: False,
 50066450: True,
 50074145: True,
 50121726: False,
 50124043: False,
 50118005: False,
 50104704: False,
 50120850: False,
 50129774: False,
 50124915: False,
 50111446: False,
 50120573: False,
 50114062: False,
 50131954: False,
 50117592: False,
 50119198: False,
 50112799: False,
 50126865: False,
 50124169: False,
 40395087: True,
 50119878: False,
 50130080: False,
 50094451: False,
 50121947: False,
 50121828: False,
 50123492: False,
 50113817: False,
 50126032: False,
 50119357: False,
 50129814: False,
 50113447: False,
 50128872: False,
 50111140: False,
 50128569: False,
 50108362: False,
 50128020: False,
 50112313: False,
 50119433: False,
 50123748: False,
 50107085: True,
 50120780: False,
 50129498: False,
 41154379: True,
 50125508: False,
 50105878: False,
 50129481: False,
 50128369: False,
 50128284: False,
 50118627: False,
 50109092: True,
 50129694: False,
 50132347: False,
 50129761: False,
 50034739: True,
 41523226: True,
 41697049: True,
 50106464: False,
 50067634: True,
 50131062: False,
 50124712: False,
 50112120: False,
 41624715: True,
 50128822: False,
 50122272: False,
 50044748: True,
 50067182: True,
 50132471: False,
 50119328: False,
 50106454: False,
 50126110: False,
 50122754: False,
 50119370: False,
 50122352: False,
 50125005: False,
 50129516: False,
 50126677: False,
 50108990: True,
 50129580: False,
 50122281: False,
 50012215: True,
 50110045: False,
 50131277: False,
 50106309: False,
 50114031: False,
 50128426: False,
 50104766: False,
 50116975: False,
 50123208: False,
 50128259: False,
 50066104: True,
 50122211: False,
 50125414: False,
 50128363: False,
 50125216: False,
 50130037: False,
 50128420: False,
 50095960: False,
 50130384: False,
 50114900: False,
 50117138: False,
 50117955: False,
 50118398: False,
 50132369: False,
 50101598: True,
 50046060: True,
 50132353: False,
 50130968: False,
 50130833: False,
 41395411: True,
 50117894: False,
 50082664: True,
 50127668: False,
 50129094: False,
 50125506: False,
 50119475: False,
 50006470: True,
 50114615: False,
 50124688: False,
 50131638: False,
 50102527: False,
 50104856: False,
 50117707: False,
 50126360: False,
 50132196: False,
 50118624: False,
 50125035: False,
 50123999: False,
 50070068: True,
 50127309: False,
 50124016: False,
 50124397: False,
 50105541: False,
 50121855: False,
 41720851: True,
 50125994: False,
 50100415: True,
 50132006: False,
 41391794: True,
 50119605: False,
 50106273: False,
 50129852: False,
 50128528: False,
 50123923: False,
 50108357: False,
 50123856: False,
 50131199: False,
 50087356: True,
 50117958: False,
 50114879: False,
 50130532: False,
 50108821: False,
 50121429: False,
 50132362: False,
 50110267: False,
 50117437: False,
 40871961: True,
 50128606: False,
 50111500: False,
 50127238: False,
 50044537: False,
 50117642: False,
 50070745: True,
 50067979: True,
 50114638: True,
 50067257: True,
 50036244: True,
 50037560: True,
 50116081: False,
 50008496: False,
 50132461: False,
 50100549: True,
 50129864: False,
 50116168: False,
 50110146: False,
 50062556: True,
 50107039: False,
 41573408: True,
 50105341: False,
 50123270: False,
 50131869: False,
 50105839: False,
 50125524: False,
 50113302: False,
 50074493: True,
 50116751: False,
 50116522: False,
 50129114: False,
 50111835: False,
 50119066: False,
 50117848: False,
 41620030: True,
 41622870: True,
 50046390: True,
 50129812: False,
 50125812: False,
 41395408: True,
 50107156: False,
 50120569: False,
 50113609: False,
 50070862: True,
 50106052: True,
 50033770: True,
 41358592: True,
 50123806: False,
 50131164: False,
 50120113: False,
 50113361: False,
 41106321: True,
 50058321: True,
 50069717: False,
 50104594: False,
 50124164: False,
 50129689: False,
 41656294: True,
 50108036: False,
 50118853: False,
 41351011: True,
 50132511: False,
 41189848: True,
 50123303: False,
 40932307: True,
 50080755: True,
 50124862: False,
 50116398: False,
 50113120: False,
 50122204: False,
 50001488: False,
 50111731: False,
 50124143: False,
 50131184: False,
 40762828: True,
 50121729: False,
 50104887: False,
 50098716: True,
 50120697: False,
 50119457: False,
 50118524: False,
 50089233: False,
 50065696: True,
 50131384: False,
 50102696: False,
 50119395: False,
 50131611: False,
 50118381: False,
 50128986: False,
 50119389: False,
 50118823: False,
 50120625: False,
 50118747: False,
 50119716: False,
 50126261: False,
 50120807: False,
 50112246: False,
 50115185: False,
 50125007: False,
 50114701: False,
 50115911: False,
 40750264: True,
 50105852: False,
 50033380: False,
 50110346: False,
 50130088: False,
 50131079: False,
 50072149: True,
 50127512: False,
 50110679: False,
 50114577: False,
 50121472: False,
 50123651: False,
 50131514: False,
 50120792: False,
 50131279: False,
 41390998: True,
 50116707: False,
 50121597: False,
 50129046: False,
 40376515: True,
 50129823: False,
 50128802: False,
 50114537: False,
 50122546: False,
 50116879: False,
 50114007: False,
 50130748: False,
 50121818: False,
 41333314: True,
 50100321: True,
 50123136: False,
 50110902: False,
 50131226: False,
 50105390: False,
 50130713: False,
 50122704: False,
 50038346: True,
 50090918: True,
 50111909: False,
 50129436: False,
 50131612: False,
 50097865: False,
 50073372: True,
 50129033: False,
 50113510: True,
 50128148: False,
 41708744: True,
 50128625: False,
 50054846: True,
 50011205: True,
 50119459: False,
 50122209: False,
 50131498: False,
 50120198: False,
 50129193: False,
 50087322: True,
 50091173: True,
 41068607: True,
 40396532: True,
 50012113: True,
 50099939: True,
 40401000: True,
 41513756: True,
 50089195: True,
 50125088: False,
 50128932: False,
 50129871: False,
 50129338: False,
 50120967: False,
 50127736: False,
 50104409: False,
 50110794: False,
 50131791: False,
 50112210: False,
 50126662: False,
 50118736: False,
 50118261: False,
 50125127: False,
 50130033: False,
 50121819: False,
 50118032: False,
 50119702: False,
 50125044: False,
 50111056: False,
 50117506: False,
 50125019: False,
 50106485: False,
 50117320: False,
 50111689: False,
 50115776: False,
 50128030: False,
 50130598: False,
 50123449: False,
 50106909: False,
 50109733: False,
 50125423: False,
 50122830: False,
 50123699: False,
 50131285: False,
 50126664: False,
 50129708: False,
 50111115: False,
 50055296: True,
 50119912: False,
 50127350: False,
 50127097: False,
 50116929: False,
 50113185: False,
 50125491: False,
 50113027: False,
 50129486: False,
 50129589: False,
 50130409: False,
 50108563: False,
 50120301: False,
 40557901: True,
 50113704: False,
 40624607: True,
 50125923: False,
 50047107: True,
 50123066: False,
 50000910: True,
 50130852: False,
 50099874: True,
 50104949: False,
 50111262: False,
 50123936: False,
 50131076: False,
 50123930: False,
 50072059: True,
 50114942: False,
 50122424: False,
 50124541: False,
 50113387: False,
 50130939: False,
 50110734: False,
 41124419: True,
 50087791: False,
 50127680: False,
 50132476: False,
 50116980: True,
 50092720: False,
 50121021: False,
 50013885: True,
 50076792: True,
 50046232: True,
 40394401: True,
 50109067: False,
 50119003: False,
 50119553: False,
 50130002: False,
 50126645: False,
 50131218: False,
 50079560: True,
 41534382: True,
 41677470: True,
 50115433: False,
 50060917: True,
 50121666: False,
 50106576: False,
 50095624: True,
 50127888: False,
 41025692: True,
 50105896: True,
 50112611: True,
 50127645: False,
 50105866: False,
 50126906: False,
 50050643: True,
 50126709: False,
 50119494: False,
 50130960: False,
 50111936: False,
 50111352: False,
 50123393: False,
 50131754: False,
 50130984: False,
 50122510: False,
 50116144: False,
 50126014: False,
 50128068: False,
 50131168: False,
 50108031: True,
 50101440: False,
 50115008: False,
 50109963: False,
 50117825: False,
 41223224: True,
 50105716: False,
 50128816: False,
 50109122: False,
 50117719: False,
 50131597: False,
 50102782: False,
 50111320: False,
 50114684: False,
 50099738: False,
 50124503: False,
 50117767: False,
 50129207: False,
 50106108: False,
 50117395: False,
 41491686: True,
 50119479: False,
 50126904: False,
 50124134: False,
 40396264: True,
 50131383: False,
 50051480: True,
 50130385: False,
 50088025: True,
 50118936: False,
 50122845: False,
 40396020: True,
 50113338: False,
 50073366: True,
 50106465: False,
 50101716: False,
 50112597: False,
 50047192: True,
 50104738: False,
 50115978: False,
 50102863: False,
 41037118: True,
 50131347: False,
 50115454: False,
 50128942: False,
 50121883: False,
 50131926: False,
 41304673: True,
 50070263: True,
 50125614: False,
 50122619: False,
 50051616: True,
 50131116: False,
 41551945: True,
 50015880: True,
 41707087: True,
 41247493: True,
 50130405: False,
 50120626: False,
 50104590: False,
 41395501: True,
 50115330: False,
 50129719: False,
 50130175: False,
 50129683: False,
 50111729: False,
 50107535: False,
 50104767: False,
 41664592: True,
 50120543: False,
 50059876: True,
 50119202: True,
 50130251: False,
 41178622: True,
 50127572: False,
 50118284: False,
 50107989: False,
 50114850: False,
 50100839: False,
 41099497: True,
 50120509: False,
 50117550: False,
 41074315: True,
 50118082: False,
 50128462: False,
 50079432: True,
 41688165: True,
 50124000: False,
 50123424: False,
 50125503: False,
 50106659: False,
 40691110: True,
 50121165: False,
 50110211: False,
 50107467: False,
 50121678: False,
 50120462: False,
 50099439: True,
 50057216: True,
 50112624: False,
 50113428: False,
 50115634: False,
 50129522: False,
 50006236: True,
 50121571: False,
 50015482: True,
 50112307: False,
 50120693: False,
 50126355: False,
 50128475: False,
 50034275: True,
 41722059: True,
 41316656: True,
 50112423: False,
 50105937: False,
 50107497: False,
 50118360: False,
 50118104: False,
 50132497: False,
 50120874: False,
 50111457: False,
 50045954: True,
 50104476: False,
 50035200: True,
 50120322: False,
 50112111: False,
 50103701: False,
 50110164: False,
 50097467: True,
 50098018: True,
 50131036: False,
 50119337: False,
 50131149: False,
 50112573: False,
 50016271: True,
 50095105: True,
 50131220: False,
 50114685: False,
 50059891: True,
 50119421: False,
 40610139: True,
 50122250: False,
 50130190: False,
 50121687: False,
 50118729: False,
 50113697: False,
 50118726: False,
 50118138: False,
 50105925: False,
 50107193: False,
 50118921: False,
 50116348: False,
 50117260: False,
 50053352: True,
 50118358: False,
 41556098: True,
 50128111: False,
 50132290: False,
 50129850: False,
 50125151: False,
 50126936: False,
 50117290: False,
 50120059: False,
 50111918: False,
 50128611: False,
 50126102: False,
 50121619: False,
 50071926: True,
 50108511: False,
 50119359: False,
 50129918: False,
 50130043: False,
 40988754: False,
 50110258: False,
 50044988: True,
 50121581: False,
 50105211: False,
 50117444: False,
 50109905: False,
 50118592: False,
 50114353: False,
 41581905: True,
 50118559: False,
 50132220: False,
 50117854: False,
 50067605: True,
 50112066: True,
 50108463: False,
 50120565: False,
 50119336: True,
 50129704: False,
 41395395: False,
 50132059: False,
 50113148: False,
 50005184: True,
 50124513: False,
 50107310: False,
 50113150: False,
 50129368: False,
 50087180: False,
 50113036: False,
 41395517: True,
 50130050: False,
 50085247: True,
 50113608: False,
 50089635: False,
 50116669: False,
 50116563: False,
 50106242: False,
 50127708: False,
 50105466: False,
 50116614: False,
 50002474: True,
 50102238: False,
 41398358: True,
 50121356: False,
 41639519: True,
 50131410: False,
 50131096: False,
 50071808: True,
 50124279: False,
 50104951: False,
 50112274: False,
 50124782: False,
 50112557: False,
 50058735: True,
 50130879: False,
 50124601: False,
 50105888: False,
 41400378: True,
 50112117: False,
 50130937: False,
 50126154: False,
 41406985: True,
 50122366: False,
 41697952: True,
 50110128: False,
 50124456: False,
 50129524: False,
 50108930: False,
 50044219: True,
 41701557: True,
 50129283: False,
 50095648: True,
 41395426: True,
 50083808: True,
 50125166: False,
 50122067: False,
 41471053: True,
 41624865: True,
 50131100: False,
 50131737: False,
 50107414: False,
 50129470: False,
 50114800: False,
 50122192: False,
 50124690: False,
 50110693: False,
 50106490: False,
 50121205: False,
 50129636: False,
 50126746: False,
 50128093: False,
 50124799: False,
 50126377: False,
 50062365: True,
 50117828: False,
 50006741: True,
 50126657: True,
 50110297: False,
 50074873: True,
 50113142: False,
 41653095: True,
 41602165: True,
 41666477: True,
 50132177: False,
 50131546: False,
 50121611: False,
 50113192: False,
 50103284: False,
 40389356: True,
 50124494: False,
 50128981: False,
 50125327: False,
 50117208: True,
 40679229: True,
 50125738: False,
 50129999: False,
 41232292: True,
 50107868: False,
 50115873: False,
 50120607: False,
 50116211: False,
 50067314: True,
 50128115: False,
 50104628: False,
 50132370: False,
 50086813: True,
 50102717: False,
 50119979: False,
 50112196: False,
 50094389: False,
 50037538: True,
 50125028: False,
 50129423: False,
 50116523: False,
 50125726: False,
 50114707: False,
 50113179: False,
 50116505: False,
 41072750: True,
 50118329: False,
 50112535: False,
 50117656: False,
 50103358: True,
 41488981: True,
 50122363: False,
 50116792: True,
 50121372: False,
 50132261: False,
 50009907: True,
 50123967: False,
 50131016: False,
 50052060: True,
 50078216: True,
 50124785: False,
 50131098: False,
 50117034: False,
 50118012: False,
 50132385: False,
 50125319: False,
 50128973: False,
 50124195: False,
 50124592: False,
 50018322: True,
 50113632: False,
 50006312: True,
 50127375: False,
 50124835: False,
 40599302: True,
 50126989: False,
 50111571: False,
 50105264: False,
 50127629: False,
 50049637: True,
 40397810: True,
 50123731: False,
 50111796: False,
 50105111: False,
 50131913: False,
 50119699: False,
 50084601: False,
 50130752: False,
 50132187: False,
 50130446: False,
 50123564: False,
 50118544: False,
 50014841: False,
 50117442: False,
 50130646: False,
 50110386: False,
 50132393: False,
 50126813: False,
 50128022: False,
 50125932: False,
 50130677: False,
 50100885: False,
 50117753: False,
 50131201: False,
 50113158: False,
 50125086: False,
 50116271: False,
 50130189: False,
 50124277: False,
 50120272: False,
 50121714: False,
 50106271: False,
 50086974: False,
 50124536: False,
 50114269: False,
 50128912: False,
 50126877: False,
 50116534: False,
 50114499: False,
 50115792: False,
 50130211: False,
 50132010: False,
 50122837: False,
 50111819: False,
 50131447: False,
 50103297: False,
 50009452: True,
 50122797: False,
 41695998: True,
 50122010: False,
 50129573: False,
 50120946: False,
 50127832: False,
 50131796: False,
 50116702: False,
 50105856: False,
 50086686: True,
 50119874: False,
 50121579: False,
 50120374: False,
 50125030: False,
 50112531: False,
 50121558: False,
 50130561: False,
 50128922: False,
 50131574: False,
 50128828: False,
 50106679: False,
 50128081: False,
 50116399: False,
 50109198: False,
 50089893: True,
 50124846: False,
 50119446: False,
 50119332: False,
 50105884: False,
 50116547: False,
 50111558: False,
 50121509: False,
 50115414: False,
 50124507: False,
 50126739: False,
 50132482: False,
 50115484: False,
 50122765: False,
 50129828: False,
 50129301: False,
 50132215: False,
 50120759: False,
 50124776: False,
 40365942: True,
 50129326: False,
 50125195: False,
 50115731: False,
 50120660: False,
 50109186: False,
 40380164: True,
 50109225: True,
 50130090: False,
 50114517: False,
 50109051: False,
 41425803: True,
 50129321: False,
 ...}

In [128]:
pastCrit = {}
nowCrit = {}
for name in Name_list:
    pastCrit[name] = df.NotLatestandCrit[df.CAMIS == name].max()
    nowCrit[name] = df.LatestandCrit[df.CAMIS == name].max()

df['Now_Crit'] = df.CAMIS.map(nowCrit)
df['Past_Crit'] = df.CAMIS.map(pastCrit)

In [187]:
abc = df[df.isLatest == True].groupby('CAMIS').first()

In [188]:
finalVariables = ['Now_Crit','CUISINE', 'BORO', 'ZIPCODE', 'Community Board', 'Past_Crit']
to_convert = ['ZIPCODE', 'Community Board']
abc[to_convert] = abc[to_convert].astype('category')
abc = abc.drop(abc[abc.date== '1900-01-01'].index)
abc = abc[finalVariables]

In [189]:
abc.Now_Crit.value_counts()

True     20404
False     3477
Name: Now_Crit, dtype: int64

In [190]:
abc.Past_Crit.value_counts()

True     18689
False     5192
Name: Past_Crit, dtype: int64

In [171]:
df.date == '1900-01-01' and df.Past_Crit == False

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [174]:
df[(df.date == '1900-01-01') & (df.Now_Crit == True)]

Empty DataFrame
Columns: [CAMIS, DBA, BORO, BUILDING, STREET, ZIPCODE, PHONE, CUISINE, INSPECTION DATE, ACTION, CODE, VIOLATION, CRITICAL FLAG, SCORE, GRADE, GRADE DATE, RECORD DATE, INSPECTION TYPE, Latitude, Longitude, Community Board, Council District, Census Tract, BIN, BBL, NTA, Location Point, Zip Codes, Community Districts, Borough Boundaries, City Council Districts, Police Precincts, date, Critical, isLatest, LatestandCrit, NotLatestandCrit, Past_Crit, Now_Crit]
Index: []

[0 rows x 39 columns]

In [203]:
abc.isnull().sum(axis = 0).sort_values(ascending = False)

Community Board    451
ZIPCODE            361
Now_Crit             0
CUISINE              0
BORO                 0
Past_Crit            0
dtype: int64

## Now its time for imputation

In [284]:
impute_variables = ['CAMIS', 'Community Board', 'Longitude', 'Latitude']
df[to_convert] = df[to_convert].astype('category')
impute_df = df[impute_variables].groupby('CAMIS').first()

In [285]:
impute_df

         Community Board  Longitude   Latitude
CAMIS
30075445           211.0 -73.855972  40.848231
30112340           309.0 -73.962081  40.662652
30191841           104.0 -73.984310  40.767326
40356018           313.0 -73.982090  40.579920
40356483           318.0 -73.906989  40.620112
...                  ...        ...        ...
50132511           311.0 -73.978401  40.610812
50132516           103.0 -73.982742  40.730499
50132518           409.0 -73.842541  40.689932
50132519           105.0 -73.991775  40.749395
50132520           211.0 -73.844703  40.846122

[28239 rows x 3 columns]

In [286]:
from sklearn.impute import KNNImputer


imputer = KNNImputer(n_neighbors=2, weights="uniform")
a=imputer.fit_transform(impute_df)

In [292]:
df_imputed = pd.DataFrame(a, columns= list(impute_df), index= impute_df.index)

In [293]:
df_imputed

          Community Board  Longitude   Latitude
CAMIS
30075445            211.0 -73.855972  40.848231
30112340            309.0 -73.962081  40.662652
30191841            104.0 -73.984310  40.767326
40356018            313.0 -73.982090  40.579920
40356483            318.0 -73.906989  40.620112
...                   ...        ...        ...
50132511            311.0 -73.978401  40.610812
50132516            103.0 -73.982742  40.730499
50132518            409.0 -73.842541  40.689932
50132519            105.0 -73.991775  40.749395
50132520            211.0 -73.844703  40.846122

[28239 rows x 3 columns]

In [294]:
df_imputed.rename(columns = {'Community Board':'CBoard'}, inplace = True)

In [296]:
Community_Board_Imputed = {}
for name in Name_list:
    Community_Board_Imputed[name] = df_imputed.CBoard[name]

In [298]:
Community_Board_Imputed

{50107551: 102.0,
 50131697: 301.0,
 50123820: 102.0,
 50119514: 414.0,
 50127198: 502.0,
 50131632: 303.0,
 50121462: 401.0,
 50112539: 102.0,
 50109522: 102.0,
 50129927: 306.0,
 41564948: 105.0,
 50113426: 104.0,
 50128218: 107.0,
 50104825: 414.0,
 50112870: 105.0,
 50120379: 103.0,
 50124520: 205.0,
 50124855: 207.0,
 50132225: 408.0,
 50116143: 301.0,
 50129141: 105.0,
 50121299: 106.0,
 50118414: 102.0,
 50008108: 102.0,
 50108007: 106.0,
 41089821: 414.0,
 50105922: 315.0,
 50129206: 307.0,
 50125244: 203.0,
 50115585: 409.0,
 50129407: 407.0,
 50118566: 303.0,
 50130580: 406.0,
 50106095: 105.0,
 50128131: 402.0,
 50126683: 304.0,
 50132112: 402.0,
 50122701: 102.0,
 50124519: 205.0,
 50118608: 307.0,
 50131334: 102.0,
 50127688: 205.0,
 50121100: 401.0,
 50123083: 210.0,
 50105337: 104.0,
 50124763: 303.0,
 50119329: 104.0,
 50125888: 307.0,
 50131922: 303.0,
 50123419: 402.0,
 50106042: 401.0,
 50119637: 104.0,
 41600677: 102.0,
 50103832: 112.0,
 50105750: 211.0,
 50126340: 208.0,
 50114248: 304.0,
 50114109: 101.0,
 50123496: 310.0,
 50130759: 407.0,
 50131253: 310.0,
 50118725: 404.0,
 50123072: 105.0,
 50115383: 109.0,
 50117552: 407.0,
 50122585: 405.0,
 50128152: 401.0,
 50131618: 412.0,
 50117510: 105.0,
 50116004: 312.0,
 50128083: 101.0,
 50129966: 403.0,
 50124794: 308.0,
 50107716: 301.0,
 50065112: 302.0,
 50111868: 317.0,
 50132356: 104.0,
 50113985: 209.0,
 50124042: 307.0,
 50131153: 407.0,
 50119858: 105.0,
 50132390: 315.0,
 50111647: 306.0,
 50131202: 205.0,
 50109988: 102.0,
 50120148: 315.0,
 50125655: 407.0,
 50130229: 307.0,
 50108320: 304.0,
 50095016: 101.0,
 50107277: 304.0,
 50120197: 112.0,
 50119601: 301.0,
 50004307: 404.0,
 50126842: 102.0,
 41635743: 402.0,
 50127476: 407.0,
 50131830: 310.0,
 50124377: 401.0,
 40958104: 412.0,
 50114558: 104.0,
 50111579: 108.0,
 50119319: 105.0,
 50123213: 302.0,
 50130714: 105.0,
 50121179: 106.0,
 50120067: 407.0,
 50105967: 501.0,
 50129020: 105.0,
 50121552: 101.0,
 41441583: 402.0,
 50106296: 111.0,
 50124508: 301.0,
 50131298: 309.0,
 50066450: 105.0,
 50074145: 107.0,
 50121726: 310.0,
 50124043: 105.0,
 50118005: 503.0,
 50104704: 414.0,
 50120850: 105.0,
 50129774: 105.0,
 50124915: 401.0,
 50111446: 313.0,
 50120573: 208.0,
 50114062: 309.0,
 50131954: 104.0,
 50117592: 409.0,
 50119198: 307.0,
 50112799: 404.0,
 50126865: 313.0,
 50124169: 308.0,
 40395087: 409.0,
 50119878: 411.0,
 50130080: 103.0,
 50094451: 105.0,
 50121947: 208.0,
 50121828: 251.08870880214175,
 50123492: 104.0,
 50113817: 112.0,
 50126032: 402.0,
 50119357: 204.0,
 50129814: 314.0,
 50113447: 407.0,
 50128872: 104.0,
 50111140: 301.0,
 50128569: 401.0,
 50108362: 105.0,
 50128020: 402.0,
 50112313: 501.0,
 50119433: 411.0,
 50123748: 105.0,
 50107085: 407.0,
 50120780: 102.0,
 50129498: 101.0,
 41154379: 302.0,
 50125508: 208.0,
 50105878: 104.0,
 50129481: 317.0,
 50128369: 105.0,
 50128284: 304.0,
 50118627: 201.0,
 50109092: 104.0,
 50129694: 306.0,
 50132347: 103.0,
 50129761: 302.0,
 50034739: 414.0,
 41523226: 404.0,
 41697049: 412.0,
 50106464: 408.0,
 50067634: 407.0,
 50131062: 315.0,
 50124712: 107.0,
 50112120: 210.0,
 41624715: 108.0,
 50128822: 251.08870880214175,
 50122272: 209.0,
 50044748: 104.0,
 50067182: 402.0,
 50132471: 307.0,
 50119328: 302.0,
 50106454: 103.0,
 50126110: 105.0,
 50122754: 404.0,
 50119370: 301.0,
 50122352: 105.0,
 50125005: 306.0,
 50129516: 404.0,
 50126677: 105.0,
 50108990: 412.0,
 50129580: 302.0,
 50122281: 101.0,
 50012215: 404.0,
 50110045: 404.0,
 50131277: 104.0,
 50106309: 106.0,
 50114031: 102.0,
 50128426: 103.0,
 50104766: 414.0,
 50116975: 164.0,
 50123208: 104.0,
 50128259: 103.0,
 50066104: 407.0,
 50122211: 501.0,
 50125414: 307.0,
 50128363: 401.0,
 50125216: 206.0,
 50130037: 411.0,
 50128420: 311.0,
 50095960: 103.0,
 50130384: 309.0,
 50114900: 303.0,
 50117138: 104.0,
 50117955: 413.0,
 50118398: 102.0,
 50132369: 409.0,
 50101598: 402.0,
 50046060: 101.0,
 50132353: 104.0,
 50130968: 104.0,
 50130833: 103.0,
 41395411: 414.0,
 50117894: 103.0,
 50082664: 312.0,
 50127668: 407.0,
 50129094: 106.0,
 50125506: 312.0,
 50119475: 402.0,
 50006470: 483.0,
 50114615: 105.0,
 50124688: 311.0,
 50131638: 105.0,
 50102527: 103.0,
 50104856: 206.0,
 50117707: 101.0,
 50126360: 407.0,
 50132196: 209.0,
 50118624: 107.0,
 50125035: 403.0,
 50123999: 101.0,
 50070068: 407.0,
 50127309: 501.0,
 50124016: 103.0,
 50124397: 112.0,
 50105541: 102.0,
 50121855: 103.0,
 41720851: 209.0,
 50125994: 407.0,
 50100415: 210.0,
 50132006: 106.0,
 41391794: 106.0,
 50119605: 105.0,
 50106273: 303.0,
 50129852: 106.0,
 50128528: 105.0,
 50123923: 411.0,
 50108357: 212.0,
 50123856: 101.0,
 50131199: 307.0,
 50087356: 106.0,
 50117958: 480.0,
 50114879: 407.0,
 50130532: 317.0,
 50108821: 306.0,
 50121429: 303.0,
 50132362: 311.0,
 50110267: 412.0,
 50117437: 313.0,
 40871961: 308.0,
 50128606: 314.0,
 50111500: 204.0,
 50127238: 407.0,
 50044537: 105.0,
 50117642: 309.0,
 50070745: 310.0,
 50067979: 311.0,
 50114638: 411.0,
 50067257: 305.0,
 50036244: 212.0,
 50037560: 308.0,
 50116081: 105.0,
 50008496: 315.0,
 50132461: 402.0,
 50100549: 108.0,
 50129864: 105.0,
 50116168: 104.0,
 50110146: 102.0,
 50062556: 108.0,
 50107039: 304.0,
 41573408: 105.0,
 50105341: 414.0,
 50123270: 107.0,
 50131869: 414.0,
 50105839: 207.0,
 50125524: 310.0,
 50113302: 405.0,
 50074493: 103.0,
 50116751: 105.0,
 50116522: 103.0,
 50129114: 251.08870880214175,
 50111835: 402.0,
 50119066: 303.0,
 50117848: 103.0,
 41620030: 401.0,
 41622870: 101.0,
 50046390: 306.0,
 50129812: 315.0,
 50125812: 302.0,
 41395408: 414.0,
 50107156: 301.0,
 50120569: 101.0,
 50113609: 202.0,
 50070862: 205.0,
 50106052: 112.0,
 50033770: 406.0,
 41358592: 206.0,
 50123806: 402.0,
 50131164: 112.0,
 50120113: 103.0,
 50113361: 107.0,
 41106321: 403.0,
 50058321: 204.0,
 50069717: 407.0,
 50104594: 414.0,
 50124164: 105.0,
 50129689: 302.0,
 41656294: 307.0,
 50108036: 111.0,
 50118853: 404.0,
 41351011: 112.0,
 50132511: 311.0,
 41189848: 111.0,
 50123303: 109.0,
 40932307: 414.0,
 50080755: 407.0,
 50124862: 402.0,
 50116398: 105.0,
 50113120: 109.0,
 50122204: 318.0,
 50001488: 401.0,
 50111731: 503.0,
 50124143: 105.0,
 50131184: 251.08870880214175,
 40762828: 315.0,
 50121729: 312.0,
 50104887: 106.0,
 50098716: 414.0,
 50120697: 102.0,
 50119457: 104.0,
 50118524: 302.0,
 50089233: 301.0,
 50065696: 501.0,
 50131384: 102.0,
 50102696: 313.0,
 50119395: 108.0,
 50131611: 105.0,
 50118381: 302.0,
 50128986: 307.0,
 50119389: 502.0,
 50118823: 407.0,
 50120625: 407.0,
 50118747: 301.0,
 50119716: 312.0,
 50126261: 414.0,
 50120807: 317.0,
 50112246: 314.0,
 50115185: 112.0,
 50125007: 412.0,
 50114701: 105.0,
 50115911: 102.0,
 40750264: 105.0,
 50105852: 104.0,
 50033380: 401.0,
 50110346: 403.0,
 50130088: 104.0,
 50131079: 311.0,
 50072149: 501.0,
 50127512: 317.0,
 50110679: 404.0,
 50114577: 405.0,
 50121472: 403.0,
 50123651: 102.0,
 50131514: 307.0,
 50120792: 317.0,
 50131279: 104.0,
 41390998: 106.0,
 50116707: 104.0,
 50121597: 306.0,
 50129046: 310.0,
 40376515: 251.08870880214175,
 50129823: 104.0,
 50128802: 303.0,
 50114537: 101.0,
 50122546: 207.0,
 50116879: 104.0,
 50114007: 103.0,
 50130748: 208.0,
 50121818: 101.0,
 41333314: 110.0,
 50100321: 311.0,
 50123136: 403.0,
 50110902: 106.0,
 50131226: 407.0,
 50105390: 304.0,
 50130713: 301.0,
 50122704: 105.0,
 50038346: 301.0,
 50090918: 102.0,
 50111909: 105.0,
 50129436: 302.0,
 50131612: 107.0,
 50097865: 301.0,
 50073372: 311.0,
 50129033: 401.0,
 50113510: 316.0,
 50128148: 207.0,
 41708744: 307.0,
 50128625: 105.0,
 50054846: 408.0,
 50011205: 407.0,
 50119459: 301.0,
 50122209: 105.0,
 50131498: 102.0,
 50120198: 207.0,
 50129193: 401.0,
 50087322: 404.0,
 50091173: 412.0,
 41068607: 105.0,
 40396532: 107.0,
 50012113: 411.0,
 50099939: 211.0,
 40401000: 103.0,
 41513756: 209.0,
 50089195: 105.0,
 50125088: 301.0,
 50128932: 407.0,
 50129871: 302.0,
 50129338: 306.0,
 50120967: 102.0,
 50127736: 106.0,
 50104409: 103.0,
 50110794: 302.0,
 50131791: 309.0,
 50112210: 306.0,
 50126662: 309.0,
 50118736: 104.0,
 50118261: 104.0,
 50125127: 205.0,
 50130033: 106.0,
 50121819: 318.0,
 50118032: 102.0,
 50119702: 101.0,
 50125044: 103.0,
 50111056: 209.0,
 50117506: 306.0,
 50125019: 111.0,
 50106485: 405.0,
 50117320: 103.0,
 50111689: 316.0,
 50115776: 105.0,
 50128030: 405.0,
 50130598: 404.0,
 50123449: 404.0,
 50106909: 407.0,
 50109733: 407.0,
 50125423: 303.0,
 50122830: 105.0,
 50123699: 408.0,
 50131285: 303.0,
 50126664: 105.0,
 50129708: 206.0,
 50111115: 301.0,
 50055296: 105.0,
 50119912: 401.0,
 50127350: 401.0,
 50127097: 105.0,
 50116929: 413.0,
 50113185: 407.0,
 50125491: 102.0,
 50113027: 111.0,
 50129486: 402.0,
 50129589: 412.0,
 50130409: 401.0,
 50108563: 406.0,
 50120301: 404.0,
 40557901: 414.0,
 50113704: 306.0,
 40624607: 103.0,
 50125923: 103.0,
 50047107: 301.0,
 50123066: 401.0,
 50000910: 103.0,
 50130852: 411.0,
 50099874: 314.0,
 50104949: 305.0,
 50111262: 306.0,
 50123936: 105.0,
 50131076: 401.0,
 50123930: 401.0,
 50072059: 105.0,
 50114942: 101.0,
 50122424: 251.08870880214175,
 50124541: 401.0,
 50113387: 201.0,
 50130939: 308.0,
 50110734: 104.0,
 41124419: 414.0,
 50087791: 301.0,
 50127680: 302.0,
 50132476: 105.0,
 50116980: 406.0,
 50092720: 313.0,
 50121021: 202.0,
 50013885: 210.0,
 50076792: 401.0,
 50046232: 106.0,
 40394401: 102.0,
 50109067: 501.0,
 50119003: 105.0,
 50119553: 302.0,
 50130002: 104.0,
 50126645: 401.0,
 50131218: 404.0,
 50079560: 407.0,
 41534382: 210.0,
 41677470: 502.0,
 50115433: 101.0,
 50060917: 402.0,
 50121666: 105.0,
 50106576: 105.0,
 50095624: 401.0,
 50127888: 102.0,
 41025692: 102.0,
 50105896: 307.0,
 50112611: 311.0,
 50127645: 411.0,
 50105866: 406.0,
 50126906: 306.0,
 50050643: 301.0,
 50126709: 301.0,
 50119494: 108.0,
 50130960: 103.0,
 50111936: 106.0,
 50111352: 302.0,
 50123393: 402.0,
 50131754: 104.0,
 50130984: 413.0,
 50122510: 306.0,
 50116144: 414.0,
 50126014: 413.0,
 50128068: 315.0,
 50131168: 301.0,
 50108031: 104.0,
 50101440: 401.0,
 50115008: 404.0,
 50109963: 301.0,
 50117825: 303.0,
 41223224: 414.0,
 50105716: 307.0,
 50128816: 402.0,
 50109122: 104.0,
 50117719: 102.0,
 50131597: 502.0,
 50102782: 316.0,
 50111320: 414.0,
 50114684: 404.0,
 50099738: 101.0,
 50124503: 304.0,
 50117767: 211.0,
 50129207: 106.0,
 50106108: 403.0,
 50117395: 104.0,
 41491686: 404.0,
 50119479: 403.0,
 50126904: 407.0,
 50124134: 305.0,
 40396264: 102.0,
 50131383: 206.0,
 50051480: 104.0,
 50130385: 317.0,
 50088025: 110.0,
 50118936: 315.0,
 50122845: 315.0,
 40396020: 102.0,
 50113338: 401.0,
 50073366: 501.0,
 50106465: 306.0,
 50101716: 407.0,
 50112597: 209.0,
 50047192: 414.0,
 50104738: 111.0,
 50115978: 401.0,
 50102863: 414.0,
 41037118: 105.0,
 50131347: 105.0,
 50115454: 302.0,
 50128942: 102.0,
 50121883: 308.0,
 50131926: 404.0,
 41304673: 414.0,
 50070263: 102.0,
 50125614: 104.0,
 50122619: 311.0,
 50051616: 204.0,
 50131116: 112.0,
 41551945: 317.0,
 50015880: 315.0,
 41707087: 106.0,
 41247493: 207.0,
 50130405: 105.0,
 50120626: 355.0,
 50104590: 414.0,
 41395501: 414.0,
 50115330: 102.0,
 50129719: 210.0,
 50130175: 414.0,
 50129683: 312.0,
 50111729: 212.0,
 50107535: 201.0,
 50104767: 414.0,
 41664592: 102.0,
 50120543: 206.0,
 50059876: 101.0,
 50119202: 403.0,
 50130251: 201.0,
 41178622: 303.0,
 50127572: 406.0,
 50118284: 411.0,
 50107989: 301.0,
 50114850: 405.0,
 50100839: 105.0,
 41099497: 410.0,
 50120509: 103.0,
 50117550: 318.0,
 41074315: 414.0,
 50118082: 112.0,
 50128462: 502.0,
 50079432: 107.0,
 41688165: 302.0,
 50124000: 105.0,
 50123424: 412.0,
 50125503: 408.0,
 50106659: 105.0,
 40691110: 210.0,
 50121165: 402.0,
 50110211: 309.0,
 50107467: 316.0,
 50121678: 407.0,
 50120462: 105.0,
 50099439: 307.0,
 50057216: 412.0,
 50112624: 103.0,
 50113428: 103.0,
 50115634: 205.0,
 50129522: 307.0,
 50006236: 302.0,
 50121571: 103.0,
 50015482: 414.0,
 50112307: 502.0,
 50120693: 317.0,
 50126355: 104.0,
 50128475: 101.0,
 50034275: 103.0,
 41722059: 414.0,
 41316656: 102.0,
 50112423: 306.0,
 50105937: 407.0,
 50107497: 109.0,
 50118360: 411.0,
 50118104: 304.0,
 50132497: 411.0,
 50120874: 404.0,
 50111457: 304.0,
 50045954: 101.0,
 50104476: 306.0,
 50035200: 108.0,
 50120322: 313.0,
 50112111: 102.0,
 50103701: 404.0,
 50110164: 502.0,
 50097467: 101.0,
 50098018: 407.0,
 50131036: 401.0,
 50119337: 301.0,
 50131149: 102.0,
 50112573: 103.0,
 50016271: 313.0,
 50095105: 311.0,
 50131220: 108.0,
 50114685: 105.0,
 50059891: 405.0,
 50119421: 306.0,
 40610139: 402.0,
 50122250: 251.08870880214175,
 50130190: 102.0,
 50121687: 104.0,
 50118729: 406.0,
 50113697: 301.0,
 50118726: 410.0,
 50118138: 314.0,
 50105925: 501.0,
 50107193: 414.0,
 50118921: 409.0,
 50116348: 301.0,
 50117260: 306.0,
 50053352: 102.0,
 50118358: 405.0,
 41556098: 308.0,
 50128111: 309.0,
 50132290: 207.0,
 50129850: 414.0,
 50125151: 104.0,
 50126936: 402.0,
 50117290: 407.0,
 50120059: 311.0,
 50111918: 317.0,
 50128611: 106.0,
 50126102: 251.08870880214175,
 50121619: 212.0,
 50071926: 105.0,
 50108511: 107.0,
 50119359: 406.0,
 50129918: 106.0,
 50130043: 107.0,
 40988754: 105.0,
 50110258: 312.0,
 50044988: 301.0,
 50121581: 302.0,
 50105211: 106.0,
 50117444: 414.0,
 50109905: 402.0,
 50118592: 301.0,
 50114353: 111.0,
 41581905: 112.0,
 50118559: 412.0,
 50132220: 316.0,
 50117854: 105.0,
 50067605: 318.0,
 50112066: 102.0,
 50108463: 211.0,
 50120565: 108.0,
 50119336: 414.0,
 50129704: 204.0,
 41395395: 414.0,
 50132059: 301.0,
 50113148: 107.0,
 50005184: 402.0,
 50124513: 251.08870880214175,
 50107310: 104.0,
 50113150: 104.0,
 50129368: 102.0,
 50087180: 483.0,
 50113036: 105.0,
 41395517: 414.0,
 50130050: 103.0,
 50085247: 312.0,
 50113608: 301.0,
 50089635: 312.0,
 50116669: 301.0,
 50116563: 308.0,
 50106242: 301.0,
 50127708: 103.0,
 50105466: 105.0,
 50116614: 106.0,
 50002474: 102.0,
 50102238: 304.0,
 41398358: 102.0,
 50121356: 105.0,
 41639519: 309.0,
 50131410: 501.0,
 50131096: 407.0,
 50071808: 503.0,
 50124279: 102.0,
 50104951: 112.0,
 50112274: 210.0,
 50124782: 306.0,
 50112557: 105.0,
 50058735: 301.0,
 50130879: 314.0,
 50124601: 107.0,
 50105888: 483.0,
 41400378: 409.0,
 50112117: 318.0,
 50130937: 306.0,
 50126154: 401.0,
 41406985: 406.0,
 50122366: 105.0,
 41697952: 402.0,
 50110128: 104.0,
 50124456: 251.08870880214175,
 50129524: 202.0,
 50108930: 104.0,
 50044219: 102.0,
 41701557: 414.0,
 50129283: 401.0,
 50095648: 207.0,
 41395426: 414.0,
 50083808: 302.0,
 50125166: 413.0,
 50122067: 102.0,
 41471053: 102.0,
 41624865: 317.0,
 50131100: 412.0,
 50131737: 401.0,
 50107414: 106.0,
 50129470: 314.0,
 50114800: 307.0,
 50122192: 401.0,
 50124690: 312.0,
 50110693: 212.0,
 50106490: 413.0,
 50121205: 104.0,
 50129636: 102.0,
 50126746: 402.0,
 50128093: 408.0,
 50124799: 103.0,
 50126377: 102.0,
 50062365: 104.0,
 50117828: 301.0,
 50006741: 105.0,
 50126657: 210.0,
 50110297: 304.0,
 50074873: 103.0,
 50113142: 102.0,
 41653095: 313.0,
 41602165: 209.0,
 41666477: 401.0,
 50132177: 105.0,
 50131546: 407.0,
 50121611: 409.0,
 50113192: 303.0,
 50103284: 317.0,
 40389356: 109.0,
 50124494: 407.0,
 50128981: 103.0,
 50125327: 105.0,
 50117208: 205.0,
 40679229: 108.0,
 50125738: 106.0,
 50129999: 105.0,
 41232292: 208.0,
 50107868: 407.0,
 50115873: 108.0,
 50120607: 105.0,
 50116211: 102.0,
 50067314: 403.0,
 50128115: 308.0,
 50104628: 317.0,
 50132370: 314.0,
 50086813: 304.0,
 50102717: 110.0,
 50119979: 107.0,
 50112196: 104.0,
 50094389: 313.0,
 50037538: 303.0,
 50125028: 303.0,
 50129423: 102.0,
 50116523: 251.08870880214175,
 50125726: 105.0,
 50114707: 306.0,
 50113179: 301.0,
 50116505: 105.0,
 41072750: 101.0,
 50118329: 103.0,
 50112535: 301.0,
 50117656: 402.0,
 50103358: 317.0,
 41488981: 103.0,
 50122363: 307.0,
 50116792: 204.0,
 50121372: 103.0,
 50132261: 105.0,
 50009907: 311.0,
 50123967: 501.0,
 50131016: 104.0,
 50052060: 112.0,
 50078216: 309.0,
 50124785: 408.0,
 50131098: 302.0,
 50117034: 304.0,
 50118012: 101.0,
 50132385: 102.0,
 50125319: 105.0,
 50128973: 407.0,
 50124195: 102.0,
 50124592: 311.0,
 50018322: 407.0,
 50113632: 101.0,
 50006312: 308.0,
 50127375: 101.0,
 50124835: 414.0,
 40599302: 305.0,
 50126989: 304.0,
 50111571: 306.0,
 50105264: 102.0,
 50127629: 108.0,
 50049637: 402.0,
 40397810: 401.0,
 50123731: 106.0,
 50111796: 314.0,
 50105111: 402.0,
 50131913: 302.0,
 50119699: 105.0,
 50084601: 201.0,
 50130752: 202.0,
 50132187: 105.0,
 50130446: 105.0,
 50123564: 104.0,
 50118544: 405.0,
 50014841: 414.0,
 50117442: 101.0,
 50130646: 401.0,
 50110386: 104.0,
 50132393: 404.0,
 50126813: 103.0,
 50128022: 315.0,
 50125932: 413.0,
 50130677: 402.0,
 50100885: 407.0,
 50117753: 405.0,
 50131201: 305.0,
 50113158: 251.08870880214175,
 50125086: 405.0,
 50116271: 105.0,
 50130189: 201.0,
 50124277: 314.0,
 50120272: 104.0,
 50121714: 103.0,
 50106271: 103.0,
 50086974: 103.0,
 50124536: 301.0,
 50114269: 108.0,
 50128912: 412.0,
 50126877: 106.0,
 50116534: 306.0,
 50114499: 305.0,
 50115792: 108.0,
 50130211: 106.0,
 50132010: 403.0,
 50122837: 206.0,
 50111819: 103.0,
 50131447: 205.0,
 50103297: 412.0,
 50009452: 105.0,
 50122797: 409.0,
 41695998: 109.0,
 50122010: 251.08870880214175,
 50129573: 401.0,
 50120946: 105.0,
 50127832: 102.0,
 50131796: 206.0,
 50116702: 104.0,
 50105856: 202.0,
 50086686: 301.0,
 50119874: 412.0,
 50121579: 401.0,
 50120374: 304.0,
 50125030: 404.0,
 50112531: 312.0,
 50121558: 403.0,
 50130561: 404.0,
 50128922: 407.0,
 50131574: 402.0,
 50128828: 301.0,
 50106679: 303.0,
 50128081: 403.0,
 50116399: 104.0,
 50109198: 306.0,
 50089893: 414.0,
 50124846: 403.0,
 50119446: 402.0,
 50119332: 209.0,
 50105884: 401.0,
 50116547: 102.0,
 50111558: 414.0,
 50121509: 105.0,
 50115414: 405.0,
 50124507: 101.0,
 50126739: 105.0,
 50132482: 304.0,
 50115484: 108.0,
 50122765: 314.0,
 50129828: 402.0,
 50129301: 105.0,
 50132215: 103.0,
 50120759: 108.0,
 50124776: 106.0,
 40365942: 103.0,
 50129326: 302.0,
 50125195: 310.0,
 50115731: 205.0,
 50120660: 105.0,
 50109186: 410.0,
 40380164: 414.0,
 50109225: 201.0,
 50130090: 105.0,
 50114517: 301.0,
 50109051: 405.0,
 41425803: 315.0,
 50129321: 407.0,
 ...}

In [305]:
df['Community Board'] = df.CAMIS.map(Community_Board_Imputed)

In [301]:
len(df_imputed['CBoard'].unique())

70

In [302]:
#assert len(df_imputed.ZIPCODE.unique()) == len(df.ZIPCODE.unique())
assert len(df_imputed['Community Board'].unique()) == len(df['Community Board'].unique())

KeyError: 'Community Board'

In [281]:
len(df.CAMIS.unique())

28239

0